.botao-margem {
    margin: 20px;
}

.botao-cor {
    background-color: #606060;
}

.botao-cor:hover {
    background-color: black;
    color: lightgrey;
    transform: scale(1.2);
    transition: 0.5s;
}

.span-erro {
    color: darkred;
    font-size: smaller;
    font-weight: bold;
    display: none;
}
/* https://abeso.org.br/obesidade-e-sindrome-metabolica/calculadora-imc/ */
#imgResultado {
    width: 10%;
    display: block;
}
.fotos{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.calculadora{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 50px 0px;
    background-color: rgb(71, 67, 77);
}

.fieldset{
    border: none;
}

.legenda{
    font-size: 22px;
    
    
}

.titulo{
    font-size: 30px;
    background-color: rgb(46, 103, 179);
    border: 1px solid black;
    padding: 5px 5px;
}

#resultadoTexto{
    font-size: 18px;
}
